<div class="row">
    <div class="col-12">
        <form action="">
            <div class="row">
                <div class="col-5 forum-group">
                    <label for="name">Name</label>
                    <input type="text" name="" id="name" class="form-control">
                </div>
                <div class="col-2 form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" name="" id="quantity" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success" type="submit">add</button>
                    <button class="btn btn-danger mx-3" type="button">delete</button>
                    <button class="btn btn-primary" type="button">clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
