<div class="row">
    <div class="col-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Rec Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">
                Manage Recipe
            </button>
            <ul class="dropdown-menu">
                <li><a href="">add</a></li>
                <li><a href="">edit</a></li>
                <li><a href="">delete</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div>Description</div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div>Ingredients</div>
    </div>  
</div>
