<div class="row">
    <div class="col-12 my-3">
        <button class="btn btn-success">New Recipe</button>
    </div>
    
    <div class="col-12">
        <a *ngFor="let rec of recipes" href="" class="list-group-item d-flex justify-content-between">
            <div class="">
                <h4 class="list-group-item-heading">{{rec.name}}</h4>
                <p class="list-group-item-text">{{rec.description}}</p>
            </div>
            <span class="">
                <img src="{{rec.imgPath}}" alt="{{rec.name}}" class="img-fluid" style="max-height: 75px;">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>